spring:
  cloud:
    stream:
      bindings:
        toggle-out:
          destination: feature-toggle-topic
      binder: sqs
      sqs:
        auto-create-topic: true
        auto-create-queue: true
    aws:
      credentials:
        static:
          access-key: test
          secret-key: test
      region:
        static: us-east-1
      endpoint:
        uri: http://localhost:4566

aws:
  sqs:
    endpoint: http://localhost:4566
  sns:
    endpoint: http://localhost:4566
