server:
  port: 8082

spring:
  application:
    name: meeting-room
  config:
    import: 'configserver:http://localhost:8888'
  cloud:
    config:
      enabled: true
      fail-fast: false
      retry:
        max-attempts: 3
        initial-interval: 1000
    bus:
      enabled: true
      id: meeting-room-group
      kafka:
        enabled: true
      env:
        enabled: true
    stream:
      default-binder: kafka
      function:
        definition: toggleUpdatedConsumer
      bindings:
        toggleUpdatedConsumer-in-0:
          destination: toggle-updated-topic
          group: meeting-room-toggles-group
          consumer:
            max-attempts: 3
            back-off-initial-interval: 1000

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration
    out-of-order: false
    validate-on-migrate: true
    schemas: public
    placeholders:
      schema: public

management:
  endpoints:
    web:
      exposure:
        include: health,info,env,refresh
  endpoint:
    health:
      show-details: always
    refresh:
      enabled: true

