server:
  port: 8082

spring:
  application:
    name: meeting-room

  profiles:
    active: spring-bus,kafka-local,database-local

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration
    out-of-order: false
    validate-on-migrate: true
    schemas: public
    placeholders:
      schema: public

management:
  endpoints:
    web:
      exposure:
        include: health,info,env,busrefresh,refresh
  endpoint:
    health:
      show-details: always
    bus-refresh:
      enabled: true
    refresh:
      enabled: true

