server:
  port: 8082

spring:
  application:
    name: meeting-room

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration
    out-of-order: false
    validate-on-migrate: true
    schemas: public
    placeholders:
      schema: public

  cloud:
    bus:
      enabled: true
      id: ${spring.application.name}:${server.port}
      trace:
        enabled: true
      kafka:
        enabled: true
      refresh:
        enabled: true
      env:
        enabled: true

    stream:
      default-binder: kafka

      # Definição das funções consumidoras
      function:
        definition: toggleUpdatedConsumer

      bindings:
        # Binding para eventos customizados de toggle
        toggleUpdatedConsumer-in-0:
          destination: toggle-updated-topic
          group: meeting-room-toggles-group
          consumer:
            max-attempts: 3
            back-off-initial-interval: 1000

      kafka:
        binder:
          auto-create-topics: false
          replication-factor: 1

management:
  endpoints:
    web:
      exposure:
        include: health,info,env,busrefresh,refresh
  endpoint:
    health:
      show-details: always
    bus-refresh:
      enabled: true
    refresh:
      enabled: true

