server:
  port: 8082

spring:
  application:
    name: meeting-room
  config:
    import: 'configserver:http://localhost:8888'
  cloud:
    function:
      definition: toggleUpdatedConsumer;configRefreshConsumer
    config:
      enabled: true
      fail-fast: false
      retry:
        max-attempts: 3
        initial-interval: 1000
    stream:
      default-binder: kafka
      kafka:
        binder:
          auto-create-topics: false
          brokers: localhost:9092
        bindings:
          toggleUpdatedConsumer-in-0:
            consumer:
              auto-offset-reset: earliest
              enable-auto-commit: true
          configRefreshConsumer-in-0:
            consumer:
              auto-offset-reset: earliest
              enable-auto-commit: true
      function:
        definition: toggleUpdatedConsumer;configRefreshConsumer
      bindings:
        toggleUpdatedConsumer-in-0:
          destination: toggle-updated-topic
          group: meeting-room-toggles-group
          binder: kafka
          consumer:
            auto-startup: true
            use-native-decoding: false
            max-attempts: 1
            concurrency: 1
        configRefreshConsumer-in-0:
          destination: springCloudBus
          group: meeting-room-config-refresh-group
          binder: kafka
          consumer:
            auto-startup: true
            use-native-decoding: false
            max-attempts: 1
            concurrency: 1

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration
    out-of-order: false
    validate-on-migrate: true
    schemas: public
    placeholders:
      schema: public

management:
  endpoints:
    web:
      exposure:
        include: health,info,env,refresh
  endpoint:
    health:
      show-details: always
    refresh:
      enabled: true
