spring:
  cloud:
    bus:
      enabled: true
      id: ${spring.application.name}:${server.port}
      kafka:
        enabled: true
      refresh:
        enabled: true
      env:
        enabled: true

    stream:
      default-binder: kafka
      kafka:
        binder:
          auto-create-topics: false

