spring:
  cloud:
    stream:
      kafka:
        binder:
          auto-create-topics: false
          brokers: localhost:9092
          zkNodes: localhost:2181
  kafka:
    bootstrap-servers: localhost:9092