spring:
  cloud:
    config:
      server:
        awsparamstore:
          enabled: true
          origin: "aws:parameter:"
          prefix: /config
          profile-separator: "/"
          default-label: main
