spring:
  cloud:
    bus:
      enabled: true
      id: ${spring.application.name}:${server.port}
      refresh:
        enabled: true
      env:
        enabled: true

    stream:
      default-binder: kafka
      bindings:
        springCloudBus-out-0:
          destination: springCloudBus
        springCloudBus-in-0:
          destination: springCloudBus
          group: ${spring.application.name}
        toggleUpdated-out-0:
          destination: toggle-updated-topic
      kafka:
        binder:
          auto-create-topics: false
